@model OATemplate.Models.Template

Vald produkt: <b>@(Model.selectedPublication)</b>
<br />
Vald edition: <b>@(Model.selectedEdition)</b>
<br />
@if (Model.printMode == "collect")
{
<p class="tab"><b>@(Model.numberOfPages) </b> BS sidor, enkel.</p>
}
else if (Model.printMode == "straight")
{
<p class="tab"><b>@(Model.numberOfPages / 2)</b> BS sidor, dubbel.</p>
}
else
{
@:Något är udda, printMode = @(Html.DisplayText(Model.printMode.ToString()))
}

<br />
<br />
@if (Model.selectedTemplate != null)
{
@:Vald template: <b>@(Model.selectedTemplate)</b>
<br />
<br />
}

Välj template:
<form action="/Template/TemplateSelected" method="post">
    <select name="Template">
        @for (int i = 0; i<Model.savedTemplates.Length; i++)
                        {
                            if (Model.savedTemplates[i] == Model.selectedTemplate)
                            {
        <option value="@(Model.savedTemplates[i])" selected>@(Model.savedTemplates[i])</option>
                            }
                            else
                            {
        <option value="@(Model.savedTemplates[i])">@(Model.savedTemplates[i])</option>
                            }
                        }
    </select>
    <input type="hidden" name="printMode" value="@(Model.printMode)" />
    <input type="hidden" name="Edition" value="@(Model.selectedEdition)" />
    <input type="hidden" name="selctPub" value="@(Model.selectedPublication)" />
    <input type="hidden" name="NrPages" value="@(Model.numberOfPages)" />
    <input type="hidden" name="selctPubPath" value="@(Model.selectedPublicationPath)" />
    <input type="submit" value="Nästa"/>
</form>
<br />
