@model OATemplate.Models.Template

Vald produkt: <b>@(Model.selectedPublication)</b>
<br />
Vald edition: <b>@(Model.selectedEdition)</b>
<br />
@if (Model.printMode == "collect")
{
    <p class="tab"><b>@(Model.numberOfPages) </b> BS sidor, enkel.</p>
}
else if (Model.printMode == "straight")
{
<p class="tab"><b>@(Model.numberOfPages / 2)</b> BS sidor, dubbel.</p>
}
else
{
    @:Något är udda, printMode = @(Html.DisplayText(Model.printMode.ToString()))
}


@(Model.failureOrSuccess)
<br />
<br />
<br />
