@using System.Xml;

@model OATemplate.Models.Template

@Html.Partial("~/Views/Shared/TemplateSelection.cshtml", Model)

<style>
    fieldset {
        border: solid 2px black;
        float: left;
    }

    .subitButton {
        float: none;
    }

    .T11 {
        background-color: #FDA92B;
    }

    .T12 {
        background-color: #7B9EFE;
    }

    .T13 {
        color: #F6E5CC;
        background-color: #091433;
    }

    .T14 {
        color: #F6E5CC;
        background-color: #143FB4;
    }

    legend {
        color: #F6E5CC;
        background-color: black;
    }
</style>

<form action="/Template/TemplateCommitted" method="post">
    @foreach (XmlNode towerNode in Model.Press.SelectSingleNode("/Press").ChildNodes)
    {

        string currentTower = towerNode.Name.ToString();


        <fieldset class="@(currentTower)">


            <legend>@(currentTower)</legend>

            <table style="width:5px">
                <tr>
                    <td>High</td>
                    <td>A<input type="number" name="@(currentTower)Cyl7HA" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl7/High/SectA/Page").InnerText)" /></td>
                    <td>B<input type="number" name="@(currentTower)Cyl7HB" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl7/High/SectB/Page").InnerText)" /></td>
                    <td>C<input type="number" name="@(currentTower)Cyl7HC" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl7/High/SectC/Page").InnerText)" /></td>
                    <td>D<input type="number" name="@(currentTower)Cyl7HD" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl7/High/SectD/Page").InnerText)" /></td>
                    <td />
                    <td />
                    <td />
                    <td>D<input type="number" name="@(currentTower)Cyl8HD" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl8/High/SectD/Page").InnerText)" /></td>
                    <td>C<input type="number" name="@(currentTower)Cyl8HC" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl8/High/SectC/Page").InnerText)" /></td>
                    <td>B<input type="number" name="@(currentTower)Cyl8HB" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl8/High/SectB/Page").InnerText)" /></td>
                    <td>A<input type="number" name="@(currentTower)Cyl8HA" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl8/High/SectA/Page").InnerText)" /></td>
                </tr>
                <tr>
                    <td>Low</td>
                    <td><input type="number" name="@(currentTower)Cyl7LA" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl7/Low/SectA/Page").InnerText)" /></td>
                    <td><input type="number" name="@(currentTower)Cyl7LB" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl7/Low/SectB/Page").InnerText)" /></td>
                    <td><input type="number" name="@(currentTower)Cyl7LC" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl7/Low/SectC/Page").InnerText)" /></td>
                    <td><input type="number" name="@(currentTower)Cyl7LD" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl7/Low/SectD/Page").InnerText)" /></td>
                    <td />
                    <td />
                    <td />
                    <td><input type="number" name="@(currentTower)Cyl8LD" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl8/Low/SectD/Page").InnerText)" /></td>
                    <td><input type="number" name="@(currentTower)Cyl8LC" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl8/Low/SectC/Page").InnerText)" /></td>
                    <td><input type="number" name="@(currentTower)Cyl8LB" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl8/Low/SectB/Page").InnerText)" /></td>
                    <td><input type="number" name="@(currentTower)Cyl8LA" min="0" max="160" value="@(Model.Press.SelectSingleNode("/Press/" + currentTower + "/Cyl8/Low/SectA/Page").InnerText)" /></td>
                </tr>
            </table>

        </fieldset>
        <br /><br /><br /><br /><br /><br /><br />
    }
    <input type="hidden" name="Edition" value="@(Model.selectedEdition)" />
    <input type="hidden" name="selctPub" value="@Model.selectedPublication">
    <input type="hidden" name="NrPages" value="@Model.numberOfPages">
    <input type="hidden" name="selctTemp" value="@Model.selectedTemplate">
    <input type="hidden" name="selctPubPath" value="@Model.selectedPublicationPath">
    <input type="hidden" name="printMode" value="@(Model.printMode)" />

    <div class="submitButton">
        Tryck på knappen för att skicka templaten till Arkitex:<br />
        <input type="submit">
    </div>
</form>
<br />